/* default color: #FBB829 */
.feature-box i,
.feature-box-small-icon i,
#mainmenu li li a:hover,
.blog-list .date,
.date-box .month,
.blog-read .date,
.slider-info .text1,
#filters a.selected,
span.overlay,
.widget_tags li a,
.btn-primary,
.bg-id-color,
#mainmenu a:hover
{
	background:#FBB829;
}

#mainmenu li:hover > ul,
.date-box .day,
.slider_text h1,
.id-color,
.pricing-box li h1,
.title span,
a, a:visited,
i.large:hover{
	color:#FBB829;
}

#filters a:hover,
#filters a.selected
{
	border-color:#FBB829;
}

.callbacks_nav {
	background-color:#FBB829;
}
